        body {
          margin: 0;
          background-color: var(--background);

          /* MY COLOURS*/
          --text: #effbf3;
          --text-transparent: rgba(239, 251, 243, 5%);
          --nothing: rgba(0, 0, 0, 0%);
          --background: #010402;
          --primary: #40ceb9;
          --primary-transparent: rgba(64, 206, 185, 20%);
          --secondary: #200818;
          --secondary-transparent: rgba(32, 8, 24, 20%);
          --accent: #c33248;
          --accent-transparent: rgba(195, 50, 72, 20%);



          --shadow: 0rem 0.1rem 0.3rem black;

          --contentmax: 60rem;
          --marginmin: 2rem;

          --myfont: "Poppins", sans-serif;

        }



        /*.my-font {
          font-family: "Poppins", sans-serif;
        }*/

        footer {
          position: relative;

          bottom: 0;
          background: var(--secondary);
          width: 100%;
        }



        /* huge title text*/
        h1 {
          background-image: linear-gradient(to right, var(--accent), var(--primary));
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;

          color: var(--text);
          text-transform: uppercase;
          font-weight: 900;

          text-align: center;
          font-style: bold;


          padding-left: 5vw;
          padding-top: 5vh;
          padding-bottom: 0vh;
          letter-spacing: 5px;

          margin: 0px;
          text-align: left;
          font-size: 9vw;

          font-family: var(--myfont);
        }

        h2 {

          color: var(--text);
          text-shadow: var(--shadow);
          text-transform: uppercase;
          font-weight: 900;
          font-family: var(--myfont);

          padding-left: 0rem;
          padding-top: 1rem;
          padding-bottom: 0rem;
          /*letter-spacing: 5px;*/

          font-size: 3vh;

          /* padding: 0;*/
          margin: 0;


        }

        h3 {
          /*background-color: var(--primary);
          */
          text-align: center;
          text-shadow: var(--shadow);

          color: var(--text);
          font-weight: 900;
          font-family: var(--myfont);

          /*padding-left: 5vw;*/
          padding-top: 0vh;
          padding-bottom: 0vh;
          /*letter-spacing: 5px;*/

          font-size: 2vh;

          margin: 0;
        }

        h4 {
          /*background-color: var(--secondary);*/
          text-shadow: var(--shadow);
          /*color: var(--text);*/
          text-transform: uppercase;
          font-weight: 900;
          font-family: var(--myfont);

          padding-left: 5vw;
          padding-top: 0vh;
          padding-bottom: 0vh;

          font-size: 1.7vh;

          margin: 0;



        }

        p {

          color: var(--text);
          font-weight: 400;
          font-family: var(--myfont);

          text-align: justify;
          text-align-last: left;

        }

        ul {

          padding-left: 8vw;
          margin-top: 0;
        }

        li {

          color: var(--text);
          font-weight: 400;
          font-family: var(--myfont);

          padding-left: 1vw;
          padding-top: 0vh;
          padding-bottom: 0vh;





        }


        /* project page stuff*/
        .project-title {
          text-align: center;
          margin-top: 5rem;
        }

        /* sets a min margin width and max margin width*/
        .page-content-max {
          margin: clamp(2em, 2em, 100%);
        }

        /*makes it center aligned and gives a max width for any content*/
        .page-content {
          margin: auto;
          max-width: var(--contentmax);
          background-color: var(--text-transparent);
          box-shadow: var(--shadow);
          padding-top: 1em;
          border-radius: 2em;
        }

        /*changes to page-content div that only apply to the index/home file*/

        #homePageContent{
          background-color: var(--nothing);
          box-shadow: var(--nothing);
        }

        .project-blurb {
          padding: 2em;
          margin: 2em;
          box-shadow: var(--shadow);
          background-color: var(--secondary);
          border-radius: 2em;
        }

        .project-details {
          padding: 2em;
          column-count: 2;
        }

        .project-details p {
          padding-left: 2em;
        }

        .project-details h4 {
          padding-left: 1em;
        }

        .project-details ul {
          column-span: none;
          background: black;
        }

        .project-video {
          margin: 2em;
          box-shadow: var(--shadow);
        }

        iframe {
          width: 100%;
          height: 100%;
        }

        .project-collage {
          margin: 2em;
        }

        img {          
          box-shadow: var(--shadow);
          width: 100%;
          margin-bottom: 2em;
        }





        body[data-nav="true"]>main {
          transform: translateY(-50%);
        }

        /* the link behavior for the top nav*/
        nav {
          background-color: var(--background);
          box-shadow: var(--shadow);
          padding: 1rem;
          font-weight: 500;
          font-family: "Poppins", sans-serif;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          border-bottom-style: solid ;
          border-color: var(--text-transparent);
          border-width: 0.001rem;

        }

        .topnav a {
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;

        }

        /* unvisited link in the topnav*/
        .topnav a:link {
          color: var(--text);

          padding: 0.5rem;
        }

        /* visited link in the topnav*/
        .topnav a:visited {
          color: var(--text);
        }

        /* mouse over link in the topnav*/
        .topnav a:hover {

          background-color: var(--primary-transparent);
        }

        /* selected link in the topnav*/
        .topnav a:active {
          color: var(--secondary)
        }

        /*other links*/
        a:link {
          color: var(--text);
          text-decoration: none;

        }

        a:hover {
          color: var(--accent);
        }


        #nav-links {
          display: flex;
          gap: clamp(1rem, 2vw, 2rem);
          margin-top: clamp(2rem, 2vw, 3rem);
          padding: 0rem clamp(1rem, 2vw, 2rem);
          transform: translateY(70%) scale(0.9);
          transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
        }

        body[data-nav="true"]>nav>#nav-links {
          transform: translateY(0%) scale(1);
        }

        #nav-links>.nav-link {
          text-decoration: none;
        }

        #nav-links>.nav-link>.nav-link-label {
          color: var(--text);
          font-size: 1.25rem;
          margin: 0rem;
          text-transform: uppercase;
        }

        #nav-links>.nav-link>.nav-link-image {
          width: max(20vw, 400px);
          aspect-ratio: 1.8 / 1;
          border-radius: 0.5rem;
          margin-top: 0.75rem;
          object-fit: cover;
        }

        #nav-toggle {
          height: 5rem;
          width: 5rem;
          position: fixed;
          z-index: 3;
          left: 50%;
          bottom: 3rem;
          transform: translateX(-50%);
          background-color: var(--primary);
          border: none;
          border-radius: 5rem;
          outline: none;
          box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
          cursor: pointer;
          transition: transform, background-color;
          transition-timing-function: ease;
          transition-duration: 400ms;
        }

        #nav-toggle:hover {
          transform: translateX(-50%) scale(1.04);
        }

        #nav-toggle:active {
          transform: translateX(-50%) scale(0.96);
        }

        body[data-nav="true"]>#nav-toggle {
          background-color: var(--background);
        }

        body:not([data-nav="true"])>#nav-toggle:hover>.open {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }

        #nav-toggle>i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0.9);
          color: var(--text);
          font-size: 1.75rem;
          opacity: 0;
          transition: transform, opacity;
          transition-timing-function: ease;
          transition-duration: 400ms;
        }

        body[data-nav="true"]>#nav-toggle>.close {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }