:root {
  /* MY COLOURS*/
  --text: #effbf3;
  --text-transparent: rgba(239, 251, 243, 5%);
  --nothing: rgba(0, 0, 0, 0%);

  --primary: #40ceb9;
  --primary-transparent: rgba(64, 206, 185, 20%);
  --secondary: #200818;
  --secondary-transparent: rgba(32, 8, 24, 20%);
  --accent: #c33248;
  --accent-transparent: rgba(195, 50, 72, 20%);

  --shadow: 0em 0.1em 0.3em black;

  --myfont: "Poppins", sans-serif;

  font-size: 1;

  --background: #010402;
  background-color: var(--background);
}

body {
  --contentmax: 100%;
  --marginmin: 1rem;

  margin: 0;
  font-size: 1;

  background: var(--background);
}

/*footer {
  margin: 0;
  width: 100%;
  bottom: 0;
  font-size: 1;
  position: relative;
  background: var(--secondary);
}

footer > p{
  text-align: center;
  padding-left: 1rem;
}*/

/* huge title text*/
h1 {
  border: 1px solid blue;

  text-align: center;
  font-style: bold;

  /*margin: 0px;*/
  text-align: left;

  line-height: 1em;

  letter-spacing: 10px;

  text-transform: uppercase;
  font-family: var(--myfont);
  font-size: 15dvw;
  font-weight: 900;

  color: var(--primary);
  text-shadow: 1px 1px 1px var(--text), 2px 2px 2px var(--text),
    3px 3px 3px var(--text), 4px 4px 1px var(--text), 5px 5px 1px var(--text),
    6px 6px 1px var(--text), 7px 7px 1px var(--text), 8px 8px 1px var(--text),
    9px 9px 1px var(--text), 10px 10px 1px var(--text);
}

h2 {
  color: var(--text);
  text-shadow: var(--shadow);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--myfont);

  padding-left: 0em;
  /*padding-top: 1rem;*/
  padding-bottom: 0em;
  /*letter-spacing: 5px;*/

  font-size: 10vmin;

  /* padding: 0;*/
  margin: 0;
}
/* project title is usually a h2 or h3 */
.project-title {
  text-align: center;
  font-size: 0;
  padding-top: 4rem;
}

#myName {
  text-align: left;
  margin-left: 2rem;
}

h3 {
  /*background-color: var(--primary);
          */

  text-align: center;
  text-shadow: var(--shadow);

  color: var(--text);
  font-weight: 900;
  font-family: var(--myfont);

  /*padding-left: 5vw;*/
  padding-top: 0vh;
  padding-bottom: 0vh;
  /*letter-spacing: 5px;*/

  font-size: 1rem;

  margin: 0;
}

h4 {
  /*background-color: var(--secondary);*/
  text-shadow: var(--shadow);
  color: var(--text);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--myfont);

  padding-left: 0vw;
  padding-top: 0vh;
  padding-bottom: 0vh;

  font-size: 40;

  margin: 0;
}

h5 {
  text-shadow: var(--shadow);
  color: var(--text);
  font-weight: 700;
  font-family: var(--myfont);
  font-size: 5vmin;

  margin: 0;
  text-align: left;
}

/* .carousel {
  position: fixed;
  bottom: 0;
  right: 0;

  border: 5px solid blue;
  height: 100%;
  width: 100%;
  object-position: 50% 50%;

  object-fit: cover;
}

.carousel-inner {
  border: 5px solid green;
  height: inherit;
  width: inherit;
  object-position: inherit;
}

.carousel-item {
  object-position: inherit;
  border: solid 5px white;
  height: 100%;

  object-fit: cover;
}

a > img {
  border: 5px solid magenta;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  text-align: left;
  background-color: var(--secondary-transparent);
  padding: 1rem;
  margin: 0;
  border: solid red 5px;
  object-fit: inherit;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
  border: 5px solid salmon;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: var(--background);
} 
*/

p {
  color: var(--text);
  font-weight: 400;
  font-family: var(--myfont);

  text-align: justify;
  text-align-last: left;
  font-size: 1;
  margin: 0;
  margin-bottom: 1rem;
}

.article h3 {
  text-align: left;
}

ul {
  /*padding-left: 8vw;*/
  margin-top: 0;
}

li {
  color: var(--text);
  font-weight: 400;
  font-family: var(--myfont);

  /*padding-left: -2em;*/
  padding-top: 0vh;
  padding-bottom: 0vh;
}

article {
  margin-top: 1em;
}

/* project page stuff*/
/* sets a min margin width and max margin width*/
.page-content-max {
  margin: clamp(1%, 25%, 60%);
  margin-top: 0;
}

/*makes it center aligned and gives a max width for any content*/
.page-content {
  margin: auto;
  max-width: var(--contentmax);
  background-color: var(--primary-transparent);
  box-shadow: var(--shadow);
  padding-top: 1vmin;
  border-radius: 2rem;
  padding: 1rem;
}

.project-blurb {
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
  background-color: var(--secondary);
  border-radius: 2rem;
}

.project-details {
  margin: 1rem;
  /*column-count: 2;*/
}

.project-details ul {
  padding-left: -1em;
  column-span: none;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  box-shadow: var(--shadow);
}

iframe {
  height: 100%;
  width: 100%;
}

.project-video {
  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.document-embed {
  position: relative;
  padding-bottom: 100%;
  box-shadow: var(--shadow);
}

.document {
  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#headshot {
  width: 30%;
}

#headshot > img {
  border-radius: 50%;
}

#myFooter {
  width: 100%;
  height: 1.5rem;
}

.project-play {
  box-shadow: var(--shadow);
  background-color: var(--primary);
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em;
  width: 12em;
  text-align: center;
}

.project-collage {
  margin: 2em;
}

.gallery {
  width: 100%;
  display: grid;
  /*grid-template-columns: 1fr auto;
  grid-template-rows: 2fr auto;
  grid-gap: 5px;*/
}

figure {
  width: 100%;
  height: 100%;

  margin: 0;
  margin-bottom: 1rem;
}
.gallery_img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
}

/* NEW NAVBAR LAND!!*/
.navbar {
  background-color: var(--background);
  border-bottom-style: solid;
  border-color: var(--text-transparent);
  border-width: 1;
}

.navbar-brand {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 900;
  font-family: var(--myfont);
}

.nav-item {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--myfont);
}

.dropdown-menu {
  background: var(--secondary-transparent);
  border-width: 2;
  border-color: var(--text-transparent);
}

.dropdown-item {
  color: var(--text);
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--myfont);
}

/* NEW FOOTER LAND*/
footer{
  background-color: var(--secondary);
  font-family: var(--myfont)
}

/*other links*/
a:link {
  color: var(--primary);
  text-decoration: none;
}
a:visited {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(to right, var(--text), var(--primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
}
